<nav class="navbar navbar-static-top navbar-default" id="navigation">
<div class="navbar-inner">
	<div class="container">
		<div class="navbar-header"><a class="navbar-brand" href="$site_default_url">BRAND</a>
			<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</a>
		</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected() && $nav_item.hasChildren())
				<li class="selected active dropdown">
			#elseif ($nav_item.isSelected())
				<li class="selected active">
			#elseif ($nav_item.hasChildren())
				<li class="dropdown">
			#else
				<li>
			#end
			
			#if ($nav_item.hasChildren())
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">$nav_item.icon() $nav_item.getName() <b class="caret"></b></a>
			#else
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>
			#end

				#if ($nav_item.hasChildren())
					<ul class="child-menu dropdown-menu">
					<li>
					<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>
					</li>
						#foreach ($nav_child in $nav_item.getChildren())
<!-- 							#if ($nav_child.isSelected()) -->
<!-- 								<li class="selected active"> -->
<!-- 							#else -->
								<li>
<!-- 							#end -->
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
	
		#if (!$is_signed_in)
			<a href="$sign_in_url" class="pull-right" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end
		</div>
	</div>
	</div>
</nav>